body {
  opacity: 1;
  background-color: #555555;
  font-family: Arial, sans-serif, "Times New Roman", Times, serif;;
  color: white;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  padding: 0px;
}

.logo {
  display: block;
  margin: 0 auto;
  max-width: 700px;
  height: auto;
}

nav ul {
  list-style: none;
  padding: 0;
  display: inline-flex;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

nav ul li {
  margin: 0;
}

nav a {
  display: block;
  padding: 5px 45px;
  text-decoration: none;
  font-family: "Times New Roman", serif;
  font-size: 28px;
  font-weight: bold;
  color: black;
  background: linear-gradient(to bottom, #ff8837, #dd5c00);
  border-right: 1px solid #444;
  transition: background 0.4s ease, color 0.4s ease;
}

nav ul li:last-child a {
  border-right: none;
}

nav ul li:first-child a {
  border-radius: 10px 0 0 10px;
}
nav ul li:last-child a {
  border-radius: 0 10px 10px 0;
}

nav a:hover,
nav a.active {
  background: linear-gradient(to top, #a3a3a3, #555);
  color: white;
}

main {
  max-width: 800px;
  margin: 10px auto;
  padding: 20px;
  background: rgba(0,0,0,0.3);
  border-radius: 10px;
}

footer {
  text-align: center;
  padding: 20px;
  font-size: 0.9em;
  opacity: 0.2;
}

#main-content {
  opacity: 0;
  animation: fadeIn 2s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}